.cart
{
	padding: 32px;
	color: white ;
	background-color: #31b572;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 200px;
}
.cart-hide-button
{
	background : none;
	outline: none;
	border :none;
	font-weight: 600;
	cursor: pointer;
	align-self: self-start;
	color: white;
}
.cart-closed
{
	padding: 32px;
	width: 200px;

}
.cart-closed > button
{
	color: black;
}
.cart-add-button
{
	color: black;
}